@import '~antd/dist/antd.css';
.App {
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  //background: url("./image/back.jpg") no-repeat center;
  //background-size: cover;
}

